@import "../scss/colors";
@import "../scss/fonts.scss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $light-gray;
    font-family: "Pacific-Regular", sans-serif;
}
