<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/171352_calculator_icon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Calculator</title>
  </head>
  <body class="theme-one theme-two theme-three">
    <div class="appContainer">
      <!-- <header class="calc__header">
        <div class="logo">
          <h1>calc</h1>
        </div>
        <div class="theme">
                <span class="theme__text">THEME</span>
                <div class="theme__radio">
                    <label for="theme__1">1</label>
                    <input type="radio" name="theme" id="theme__1">
                    <label for="theme__2">2</label>
                    <input type="radio" name="theme" id="theme__2">
                    <label for="theme__3">3</label>
                    <input type="radio" name="theme" id="theme__3">
                </div>
            </div>
      </header>
      <div class="calc__display">
        <div class="calc__input">399,981</div>
      </div> -->
      <main class="calc__main">
        <div class="calc__buttons">
          <button>7</button>
          <button>8</button>
          <button>9</button>
          <button>DEL</button>
          <button>4</button>
          <button>5</button>
          <button>6</button>
          <button>+</button>
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button>-</button>
          <button>.</button>
          <button>0</button>
          <button>/</button>
          <button>*</button>
          <button class="reset">RESET</button>
          <button class="equal">=</button>
        </div>
      </main>
    </div>

    <script src="../js/main.js"></script>
  </body>
</html>
