@use "../global/fonts" as *;
@use "../themes/themeOne.scss";
@use "../components/_header";
@use "../components/display";
@use "../components/btnContainer";




body {
    font-family: $LeagueSpartan-SemiBold, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}