html {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  min-width: 1000px;
}
body {
  background-color: #fff;
  color: #444;
  font-size: 12px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.833em;
  font-weight: bold;
  line-height: 1em;
}
h1,
.h1 {
  font-size: 2em;
}
h2,
.h2 {
  font-size: 1.6em;
}
h3,
.h3 {
  font-size: 1.4em;
}
h4,
.h4 {
  font-size: 1.2em;
}
h5,
.h5 {
  font-size: 1.1em;
}
h6,
.h6 {
  font-size: 1em;
}

p {
  margin: 1em 0;
}
small {
  font-size: 0.833em;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
code,
pre {
  font-family: monospace;
}

a {
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  outline: none;
}

hr {
  background-color: #fff;
  border: 1px solid #fff;
  border-top: 1px solid #aaa;
  clear: both;
  margin: 2em 0;
}
blockquote {
  padding: 0.2em 1em 0.2em 2em;
  border-left: 3px solid #eee;
}
