@use "../global/fonts" as font;
.calc-display {
    font-family: font.$LeagueSpartan-Bold, sans-serif;
    display: grid;
    align-content: center;
    justify-content: end;
    padding-right: 1.5rem;
    text-align: end;
    word-wrap: break-word;
    word-break: break-all;

    .calc-dispaly__previous {
        font-size: 2em;
    }
    .calc-dispaly__current {
        font-size: 3.5em;
    }
}